@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quincy";
  src: url("/fonts/QuincyCF-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/TTCommons-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/TTCommons-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/TTCommons-DemiBold.otf") format("opentype");
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply relative flex h-screen flex-col bg-black font-body text-[18px] font-normal leading-[28px] text-white;
}

a {
  @apply inline-block;
}

/* Buttons */
.btn {
  @apply flex h-10 min-w-[124px] items-center justify-center rounded-md border-2 border-transparent text-[18px] font-semibold leading-[24px] transition-colors duration-[.3s] ease-in-out;
}

.btn__primary {
  @apply bg-primary text-white hover:brightness-[1.08];
}

.btn__borderless {
  @apply min-w-[auto] px-4 py-2 hover:underline;
}

.btn__white {
  @apply hover:bg-primary bg-white text-black hover:text-white;
}
